<style>#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/Chtau/dlChart">View on Github</a></span>
<div style="text-align:center">
  <h1>
    dlChart Demo
  </h1>
</div>
<div style="text-align: center;">
  <div style="display: inline-block; width: 500px; height: 500px;text-align:center;margin: 50px;">
    <h2>Pie Chart</h2>
    <input (keyup)="onKey($event)" placeholder="Filter to Chart ('3' shows only two Values)">
    <dl-pie-chart [chartid]="'test-chart'" [values]="filterValues"></dl-pie-chart>
    <dl-chart-legend [chartid]="'test-chart'"></dl-chart-legend>
  </div>
  <div style="display: inline-block; width: 500px; height: 500px;text-align:center;margin: 50px;">
    <h2>Bar Chart</h2>
    <input (keyup)="onKeyBar($event)" placeholder="Filter to Chart ('3' shows only two Values)">
    <dl-bar-chart [chartid]="'test-chart-bar'" [scaleLabel]="'Demo Values'" [values]="filterValuesBar"></dl-bar-chart>
    <dl-chart-legend [chartid]="'test-chart-bar'"></dl-chart-legend>
  </div>
</div>


